# k8s/user-service.yaml
# Define el despliegue y el servicio para el User Service.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service-deployment
  labels:
    app: user-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        # IMPORTANTE: Reemplaza 'TU_ID_DE_PROYECTO' con tu ID de proyecto de Google Cloud.
        image: us-central1-docker.pkg.dev/himfg-476514/himfg-repo/user-service:v1
        ports:
        - containerPort: 8080
        env:
        # IMPORTANTE: Reemplaza 'IP_DE_TU_CLOUDSQL' por la IP privada de tu instancia de Cloud SQL.
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:postgresql://10.11.192.3/micros_db"
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: db-secrets
              key: username
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secrets
              key: password
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
spec:
  selector:
    app: user-service
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
  type: ClusterIP
